@use '../../../styles/functions' as f;
@use '../../../styles/mixin';

.my-swiper-grid {
  width: 100%;
  height: 100%;
  padding: 3px;

  // to avoid conflict in css if you have 2 or more swypers with different css rules
  // you will se that you can affect others swypers
  // you can nest the code and change the parent slide class

  .swiper-pagination {
    padding: 5px 0;
    background-color: transparentize($color: f.get-color('background'), $amount: 0.2);
    border-radius: 40px;
  }

  .swiper-wrapper {
    padding-inline-start: 0;
  }

  .swiper-pagination-bullet {
    background-color: f.get-color('accentSecondary') !important;
  }

  .swiper-slide {
    height: calc((100% - 30px) / 2) !important;
  }
}
