@use '../../../styles/functions' as f;
@use '../../../styles/mixin';

.swiper-flip {
  width: 100%;
  height: 100%;

  .swiper-slide {
    background-position: center;
    background-size: cover;
  }
}
