.mySwiper {
  width: 95%;
  max-width: 1800px;
}

.swiper-pagination {
  padding-bottom: 10px;
}

.swiper-wrapper {
  padding-inline-start: 0;
}

.swiper-pagination-bullet {
  background-color: aliceblue !important;
}
