@use '../../../styles/functions' as f;
@use '../../../styles/mixin';

.mySwiper {
  width: 93vw;
  padding-bottom: 50px !important;

  @include mixin.customMin(320) {
    width: 95vw;
  }

  @include mixin.customMin(480) {
    width: 95vw;
  }

  // @include mixin.customMin(640){
  //   width: 610px;
  // }

  @include mixin.customMin(768) {
    width: 97vw;
  }

  // @include mixin.customMin(900){
  //   width: 880px;
  // }

  // @include mixin.customMin(1100){
  //   width: 1080px;
  // }

  // @include mixin.customMin(1300){
  //   width: 1280px;
  // }

  // @include mixin.customMin(1500){
  //   width: 95vw;
  // }

  // @include mixin.customMin(1800){
  //   width: 1750px;
  // }

  // to avoid conflict in css if you have 2 or more swypers with different css rules
  // you will se that you can affect others swypers
  // you can nest the code and change the parent slide class
  .swiper-pagination {
    padding: 5px 0;
    background-color: transparentize($color: f.get-color('background'), $amount: 0.2);
    border-radius: 40px;
  }

  .swiper-wrapper {
    padding-inline-start: 0;
  }

  .swiper-pagination-bullet {
    background-color: f.get-color('accentSecondary') !important;
  }
}
