@use '../../../styles/functions' as f;
@use '../../../styles/variables' as v;

$transparentBackground: transparentize(f.get-color('background'), 0.3);
$transparentPrimary: transparentize(f.get-color('primary'), 0.3);

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $transparentBackground;
  z-index: f.get-z-index('modal');

  &.displayBlock {
    display: block;
  }

  &.displayNone {
    display: none;
  }
}

.modalMain {
  background-color: f.get-color('background');
  position: fixed;
  padding: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: auto;
  max-height: 95%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 3px 3px 5px $transparentPrimary, -1px -1px 5px $transparentPrimary;
  overflow-y: auto;
  border-radius: 5px;

  button {
    align-self: flex-start;
  }
}
