$colors: (
  "primary":         #eee5e9,
  "background":      #12100e,
  "accentPrimary":   #af1b3f,
  "accentSecondary": #f86624,
  "relax":           #43bccd,
);

$breakPoints: (
  'base': 0,
  'small': 480px,
  'medium': 768px,
  'large': 960px,
  'xlarge': 1200px,
);

$zIndex: (
  'over':        300,
  'modal':       200,
  'navigation':  100,
);

$navHeightMobile3: 60px;

$fontFamilyRoboto: 'Roboto', sans-serif;
$fontFamilyRobotoSlab: 'Roboto Slab', serif;
$fontFamilyGillSans: 'GillSans', serif;
$fontFamilyLato: 'Lato', serif;
