@use '../../../styles/functions' as f;
@use '../../../styles//mixin';

.container {
  background-color: f.get-color('accentSecondary');
  background-image: url('./roverMobile2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: f.get-color('primary');
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mixin.small {
    background-image: url('./roverMobile1.jpg');
  }

  @include mixin.medium {
    background-image: url('./rover2.jpg');
  }
}

.title {
  margin-top: 30px;
  font-size: 4em;
  text-align: center;
}
