@use '../../styles/variables' as v;
@use '../../styles/functions' as f;
.navBar {
  width: 100%;
  height: v.$navHeightMobile;
  background-color: f.get-color('background');
  z-index: f.get-z-index('navigation');
  position: fixed;
  top: 0;
  left: 0;
}
