@use '../../../styles/mixin';

.form {
  display: flex;
  flex-direction: column;

  @include mixin.small {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;       /* Remove default arrow */
    padding: 5px;
    border-radius: 5px;
    margin: 2px;
  }

  .selector {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;       /* Remove default arrow */
    padding: 5px;
    border-radius: 5px;
    margin: 2px;
  }
}
