@use '../../../styles/functions' as f;
@use '../../../styles/variables' as v;
@use '../../../styles/mixin';

$colorTrans: transparentize(f.get-color('primary'), 0.3);

@mixin cutLines($lines: 3) {
  // cut the text
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $lines; /* number of lines to show */
  line-clamp: $lines;
  -webkit-box-orient: vertical;
}

.cardContainer {
  // background-color: darken($color: f.get-color('background'), $amount: 2) ;
  background-color: transparentize($color: f.get-color('background'), $amount: 0.2);
  color: f.get-color('primary');
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px $colorTrans;
  box-sizing: border-box;

  &:hover {
    transform: scale(1.01);
  }

  @include mixin.customMin(400) {
    height: 350px;
  }

  @include mixin.small {
    height: 400px;
  }

  @include mixin.medium {
    height: 450px;
  }

  .infoContainer {
    font-family: v.$fontFamilyGillSans;
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    flex-basis: 140px;

    .topic {
      font-weight: 600;
      margin-bottom: 1%;
    }

    .title {
      font-size: 1.1em;
      margin-bottom: 1%;
    }

    .info {
      font-family: v.$fontFamilyLato;
      font-weight: 400;
      font-size: 1em;
      margin-bottom: 1%;

      @include cutLines(3);

      // TO limit lines with for IE set the line height and then the number of
      // lines you wanth with height
      // line-height: 1.4em;
      // height: 4.2em;
      // overflow: hidden;

      @include mixin.customMin(400) {
        @include cutLines(5);
      }
    }

    button {
      background: none;
      color: f.get-color('primary');
      border: none;
      margin: 0;
      width: -moz-fit-content;
      width: fit-content;
      align-self: center;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .media {
    height: 140px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mixin.customMin(400) {
      height: 180px;
    }

    @include mixin.medium {
      height: 220px;
    }
  }
}
