@use '../../styles/functions' as f;
@use '../../styles/variables' as v;

.container {
  min-height: 100vh;
  background-color: f.get-color('background');
  padding-top: v.$navHeightMobile3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: v.$navHeightMobile3 + 20;
}

.one {
  background-color: f.get-color('background');
}

.two {
  // the best are rover 2 and rover 6
  background-image: url('./rover6.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: f.get-color('accentSecondary');
}

.three {
  background-image: url('./nasa1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: f.get-color('relax');
}

.title {
  color: f.get-color('primary');
  font-size: 3em;
  margin-bottom: 20px;
}

.info {
  width: 80%;
  max-width: 900px;
  font-family: v.$fontFamilyLato;
  color: f.get-color('primary');
  margin-bottom: 30px;
  font-size: 1.5em;
}
