@use '../../../styles/functions' as f;
@use '../../../styles/variables' as v;

.container {
  padding: 20px 0;
  background-color: f.get-color('accentSecondary');
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  font-size: 4em;
}
