.default-picture {
  display: block;
  width: 100%;
  max-width: -moz-fit-content;
  max-width: fit-content;
  height: auto;
  max-height: 100%;

  /* avoid distortion and match its parent container */
  object-fit: contain;
}
